In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from math import sqrt
from sklearn.metrics import mean_squared_error
from statsmodels.iolib.summary2 import summary_col
import itertools

In [2]:
# Read only total_tract_population column from acs_data.csv
tract_pop = pd.read_csv(
    "../data/acs_data.csv",
    usecols=["tract", "total_tract_population"],
    dtype={"total_tract_population": np.float32, "tract": np.int32},
)
tract_pop.columns

Index(['tract', 'total_tract_population'], dtype='object')

# Run Regression

In [3]:
# Load the data
dtype_dict = {
    "B01003_001E_adj_supply_any_avg_tract": np.float32,
    "B01003_001E_adj_supply_hr_avg_tract": np.float32,
    "B01003_001E_totcost_any_avg_tract": np.float32,
    "state": np.int32,
    "county": np.int32,
    "tract": np.int32,
    "median_household_income": np.float32,
    "gini_index": np.float32,
    "educational_attainment": np.float32,
    "employment_status": np.float32,
    "housing_tenure": np.float32,
    "poverty_status": np.float32,
    "commute_time": np.float32,
    "without_health_insurance": np.float32,
    "white": np.float32,
    "black": np.float32,
    "am_indian_alaska_native": np.float32,
    "asian": np.float32,
    "other_race": np.float32,
    "hispanic_latino": np.float32,
    "density": np.float32,
}


data = pd.read_csv(
    "../data/acs_data_all.csv", dtype=dtype_dict
)  # Replace with the path to your data file

# Merge tract_pop to data
data = data.merge(tract_pop, how="left", on="tract", validate="1:1")

# Scale median_household_income by 10,000
data["median_household_income"] = data["median_household_income"] / 10000

# Scale density by 10,000
data["density"] = data["density"] / 10000

# Rename the variables
data.rename(
    columns={
        "B01003_001E_adj_supply_any_avg_tract": "Average Supply of Any Provider",
        "B01003_001E_adj_supply_hr_avg_tract": "Average Supply of HR Provider",
        "B01003_001E_totcost_any_avg_tract": "Average Total Cost of Any Provider",
        "median_household_income": "Median Household Income",
        "gini_index": "Gini Index",
        "educational_attainment": "Educational Attainment",
        "employment_status": "Employment Status",
        "housing_tenure": "Housing Tenure",
        "poverty_status": "Poverty Status",
        "commute_time": "Commute Time",
        "without_health_insurance": "Without Health Insurance",
        "white": "Share of White Population",
        "black": "Share of Black Population",
        "am_indian_alaska_native": "Share of American Indian/Alaska Native Population",
        "asian": "Share of Asian Population",
        "other_race": "Share of Other Race Population",
        "hispanic_latino": "Share of Hispanic/Latino Population",
        "density": "Population Density",
        "tract_pop": "total_tract_population",
    },
    inplace=True,
)

# calculate state population
state_population = data.groupby("state")["total_tract_population"].transform("sum")

# create tract_weight
data["tract_weight"] = data["total_tract_population"] / state_population

In [4]:
data.head()

,Average Supply of Any Provider,Average Supply of HR Provider,Average Total Cost of Any Provider,state,county,tract,Median Household Income,Gini Index,Educational Attainment,Employment Status,...,Without Health Insurance,Share of White Population,Share of Black Population,Share of American Indian/Alaska Native Population,Share of Asian Population,Share of Other Race Population,Share of Hispanic/Latino Population,Population Density,total_tract_population,tract_weight
0,0.024394,0.007030,140.768204,27,27001,1231966324,4.6548,0.4291,0.142012,0.455980,...,0.000000,0.000458,0.000042,0.000741,6.338997e-08,3.097119e-08,0.000150,0.000218,2240.0,0.000404
1,0.277115,0.000000,49.739838,27,27001,1231966424,4.8580,0.3815,0.084266,0.442195,...,0.008319,0.000446,0.000020,0.001586,4.847469e-09,4.922516e-08,0.000067,0.000226,2284.0,0.000411
2,0.481750,0.081783,147.445908,27,27001,1231966524,4.4543,0.4515,0.155082,0.498758,...,0.006657,0.000719,0.000079,0.000672,4.847469e-08,2.739537e-09,0.000240,0.004462,3483.0,0.000627
3,0.420769,0.028768,91.856232,27,27001,1231966624,4.8708,0.4339,0.121503,0.485145,...,0.006061,0.000593,0.000070,0.002534,0.000000e+00,2.518452e-09,0.000134,0.000295,2970.0,0.000535
4,0.009878,0.000000,59.393177,27,27001,1231986725,5.0110,0.4564,0.087353,0.438879,...,0.001050,0.000406,0.000011,0.000000,5.220351e-08,1.345738e-10,0.000033,0.000295,1905.0,0.000343

In [5]:
def run_regression_analysis(covariates_list, outcome_variable, data, model_names, weights_variable="total_tract_population", scalar=1):
    regression_results = {}
    rmse_results = {}

    for covariates, model_name in zip(covariates_list, model_names):
        X = sm.add_constant(data[covariates])
        y = data[outcome_variable] * scalar

        # Check if weights_variable is provided
        if weights_variable:
            # Create weights array
            weights = data[weights_variable]
            model = sm.WLS(y, X, weights=weights)
        else:
            model = sm.OLS(y, X)

        result = model.fit()

        rmse = np.sqrt(mean_squared_error(y, result.predict()))

        # Use model name as a key to store results
        regression_results[model_name] = result
        rmse_results[model_name] = rmse

    return regression_results, rmse_results

### Access to Any Provider

In [6]:
# Define the covariates

# First set of covariates will include racial group shares
first_set = [
    "Share of White Population",
    "Share of Black Population",
    "Share of American Indian/Alaska Native Population",
    "Share of Asian Population",
    "Share of Other Race Population",
    "Share of Hispanic/Latino Population",
]

# Second set of covariates will include the first set plus educational attainment, median income
second_set = first_set + [
    "Median Household Income",
    "Educational Attainment",
]

# Third set of covariates will include the second set plus age, population density, and unemployment rate
third_set = second_set + [
    "Gini Index",
    "Employment Status",
    "Housing Tenure",
    "Poverty Status",
    "Commute Time",
    "Without Health Insurance",
]

# The fourth set of covariates will include the third set plus the population density
fourth_set = third_set + ["Population Density"]

# Combine all covariates into a list of lists
covariates_list = [first_set, second_set, third_set, fourth_set]

# Define the outcome variable
outcome_variable = "Average Supply of Any Provider"

# Define the scalar
scalar = 1  # Replace with your desired scalar

# Define model names
model_names = ["First Set", "Second Set", "Third Set", "Fourth Set"]

# Call the function to run the regression analysis
regression_results, rmse_results = run_regression_analysis(
    covariates_list, outcome_variable, data, model_names, weights_variable="total_tract_population", scalar = scalar
)

# Generate the summary table
summary_table = summary_col(
    list(regression_results.values()),
    stars=True,
    float_format="%.3f",
    model_names=model_names,
    info_dict={
        "N": lambda x: f"{x.nobs:.0f}",
        "R2": lambda x: f"{x.rsquared:.3f}",
        "Adjusted R2": lambda x: f"{x.rsquared_adj:.3f}"
    }
)

# Convert the summary table to a DataFrame
summary_df1 = pd.DataFrame(summary_table.tables[0])

# Convert RMSE results to a DataFrame
rmse_df = pd.DataFrame(rmse_results, index=["RMSE"])

# Append the RMSE results to the summary DataFrame
summary_df1 = pd.concat([summary_df1, rmse_df])

In [7]:
# Here I'm assuming covariate_list is the list containing the variable names in the order you want
covariate_list_ordered = [
    'Commute Time',
    'Educational Attainment',
    'Employment Status',
    'Gini Index',
    'Housing Tenure',
    'Median Household Income',
    'Population Density',
    'Poverty Status',
    'Share of American Indian/Alaska Native Population',
    'Share of Asian Population',
    'Share of Black Population',
    'Share of Hispanic/Latino Population',
    'Share of Other Race Population',
    'Share of White Population',
    'Without Health Insurance',
    'const',
]

# Separate list for non-standard error metrics
metrics_list = ['N', 'R2', 'Adjusted R2', 'RMSE']

# Last non-empty row name
last_non_empty = ''

# New index
new_index = []

for name in summary_df1.index:
    if name == '':
        new_index.append(last_non_empty + '_se')
    else:
        new_index.append(name)
        last_non_empty = name

# Assign the new index to summary_df1
summary_df1.index = new_index

# Create a new list that alternates between each variable name and its corresponding "_se" version
covariate_list_ordered_extended = [item for sublist in [[var, var + "_se"] for var in covariate_list_ordered] for item in sublist if item in summary_df1.index]

# Add the non-standard error metrics to the list
covariate_list_ordered_extended += metrics_list

# Reindex summary_df1 according to covariate_list_ordered_extended
summary_df_ordered = summary_df1.reindex(covariate_list_ordered_extended)

# Specify the indexes that end with '_se' that you want to replace
indexes_to_replace = [name for name in summary_df_ordered.index if name.endswith('_se')]

# Create a mapping dictionary to replace specified indexes with an empty string
index_replace_dict = {index: '' for index in indexes_to_replace}

# Use the .rename method with the mapping dictionary
summary_df_ordered.rename(index=index_replace_dict, inplace=True)

summary_df_ordered

,First Set,Second Set,Third Set,Fourth Set
Commute Time,,,0.121,0.119
,,,(0.182),(0.182)
Educational Attainment,,0.869***,0.431***,0.454***
,,(0.105),(0.135),(0.140)
Employment Status,,,0.360***,0.375***
,,,(0.130),(0.132)
Gini Index,,,0.162,0.153
,,,(0.176),(0.176)
Housing Tenure,,,-0.319***,-0.331***
,,,(0.075),(0.077)
Median Household Income,,-0.031***,-0.017***,-0.017***
,,(0.004),(0.006),(0.006)
Population Density,,,,-0.045
,,,,(0.068)
Poverty Status,,,-0.233,-0.215
,,,(0.143),(0.146)
Share of American Indian/Alaska Native Population,-1.163,-0.953,-0.312,-0.370
,(2.098),(2.054),(2.222),(2.225)
Share of Asian Population,-1554.969,-1974.555**,-1708.819*,-1661.490*
,(989.315),(963.339),(966.775),(969.662)
Share of Black Population,-4.028,-14.171**,-23.188***,-22.264***
,(5.853),(5.817),(6.358),(6.513)
Share of Hispanic/Latino Population,-3.830,-1.431,-15.800,-15.535
,(11.635),(11.420),(11.926),(11.935)
Share of Other Race Population,-294.267,-3126.220,-2629.293,-2243.947
,(7747.220),(7542.416),(7480.632),(7505.189)
Share of White Population,-38.649**,-0.263,-4.383,-8.118
,(15.431),(16.659),(16.839),(17.776)
Without Health Insurance,,,0.301,0.287
,,,(0.725),(0.726)
const,0.624***,0.633***,0.480**,0.485**
,(0.018),(0.026),(0.234),(0.234)
N,1328,1328,1328,1328
R2,0.009,0.065,0.089,0.089
Adjusted R2,0.004,0.059,0.079,0.079
RMSE,0.296761,0.288213,0.283279,0.283333

### High Rated Providers

In [8]:
# Define the outcome variable
outcome_variable = "Average Supply of HR Provider"

# Call the function to run the regression analysis
regression_results, rmse_results = run_regression_analysis(
    covariates_list, outcome_variable, data, model_names, weights_variable="total_tract_population", scalar = scalar
)

# Generate the summary table
summary_table = summary_col(
    list(regression_results.values()),
    stars=True,
    float_format="%.3f",
    model_names=model_names,
    info_dict={
        "N": lambda x: f"{x.nobs:.0f}",
        "R2": lambda x: f"{x.rsquared:.3f}",
        "Adjusted R2": lambda x: f"{x.rsquared_adj:.3f}"
    }
)

# Convert the summary table to a DataFrame
summary_df1 = pd.DataFrame(summary_table.tables[0])

# Convert RMSE results to a DataFrame
rmse_df = pd.DataFrame(rmse_results, index=["RMSE"])

# Append the RMSE results to the summary DataFrame
summary_df1 = pd.concat([summary_df1, rmse_df])

In [9]:
# Here I'm assuming covariate_list is the list containing the variable names in the order you want
covariate_list_ordered = [
    'Commute Time',
    'Educational Attainment',
    'Employment Status',
    'Gini Index',
    'Housing Tenure',
    'Median Household Income',
    'Population Density',
    'Poverty Status',
    'Share of American Indian/Alaska Native Population',
    'Share of Asian Population',
    'Share of Black Population',
    'Share of Hispanic/Latino Population',
    'Share of Other Race Population',
    'Share of White Population',
    'Without Health Insurance',
    'const',
]

# Separate list for non-standard error metrics
metrics_list = ['N', 'R2', 'Adjusted R2', 'RMSE']

# Last non-empty row name
last_non_empty = ''

# New index
new_index = []

for name in summary_df1.index:
    if name == '':
        new_index.append(last_non_empty + '_se')
    else:
        new_index.append(name)
        last_non_empty = name

# Assign the new index to summary_df1
summary_df1.index = new_index

# Create a new list that alternates between each variable name and its corresponding "_se" version
covariate_list_ordered_extended = [item for sublist in [[var, var + "_se"] for var in covariate_list_ordered] for item in sublist if item in summary_df1.index]

# Add the non-standard error metrics to the list
covariate_list_ordered_extended += metrics_list

# Reindex summary_df1 according to covariate_list_ordered_extended
summary_df_ordered = summary_df1.reindex(covariate_list_ordered_extended)

# Specify the indexes that end with '_se' that you want to replace
indexes_to_replace = [name for name in summary_df_ordered.index if name.endswith('_se')]

# Create a mapping dictionary to replace specified indexes with an empty string
index_replace_dict = {index: '' for index in indexes_to_replace}

# Use the .rename method with the mapping dictionary
summary_df_ordered.rename(index=index_replace_dict, inplace=True)

summary_df_ordered

,First Set,Second Set,Third Set,Fourth Set
Commute Time,,,0.159**,0.169***
,,,(0.065),(0.064)
Educational Attainment,,0.680***,0.516***,0.419***
,,(0.038),(0.048),(0.049)
Employment Status,,,-0.102**,-0.165***
,,,(0.046),(0.046)
Gini Index,,,-0.028,0.008
,,,(0.063),(0.062)
Housing Tenure,,,-0.205***,-0.155***
,,,(0.027),(0.027)
Median Household Income,,-0.007***,0.003,0.003
,,(0.001),(0.002),(0.002)
Population Density,,,,0.186***
,,,,(0.024)
Poverty Status,,,-0.136***,-0.211***
,,,(0.051),(0.051)
Share of American Indian/Alaska Native Population,-1.206,0.236,-0.233,0.010
,(0.842),(0.744),(0.794),(0.777)
Share of Asian Population,157.275,-275.829,-295.882,-493.346
,(397.173),(348.970),(345.283),(338.504)
Share of Black Population,18.283***,15.324***,10.211***,6.356***
,(2.350),(2.107),(2.271),(2.274)
Share of Hispanic/Latino Population,2.651,12.525***,5.681,4.574
,(4.671),(4.137),(4.259),(4.167)
Share of Other Race Population,4116.952,845.279,1568.668,-39.072
,(3110.219),(2732.241),(2671.704),(2620.020)
Share of White Population,-30.757***,-42.272***,-37.940***,-22.355***
,(6.195),(6.035),(6.014),(6.205)
Without Health Insurance,,,0.315,0.375
,,,(0.259),(0.253)
const,0.144***,0.043***,0.106,0.085
,(0.007),(0.009),(0.083),(0.082)
N,1328,1328,1328,1328
R2,0.090,0.301,0.338,0.368
Adjusted R2,0.086,0.297,0.331,0.360
RMSE,0.114102,0.099776,0.096762,0.093809

### Total Cost

In [10]:
# Define the outcome variable
outcome_variable = "Average Supply of HR Provider"

# Call the function to run the regression analysis
regression_results, rmse_results = run_regression_analysis(
    covariates_list, outcome_variable, data, model_names, weights_variable="total_tract_population", scalar = scalar
)

# Generate the summary table
summary_table = summary_col(
    list(regression_results.values()),
    stars=True,
    float_format="%.3f",
    model_names=model_names,
    info_dict={
        "N": lambda x: f"{x.nobs:.0f}",
        "R2": lambda x: f"{x.rsquared:.3f}",
        "Adjusted R2": lambda x: f"{x.rsquared_adj:.3f}"
    }
)

# Convert the summary table to a DataFrame
summary_df1 = pd.DataFrame(summary_table.tables[0])

# Convert RMSE results to a DataFrame
rmse_df = pd.DataFrame(rmse_results, index=["RMSE"])

# Append the RMSE results to the summary DataFrame
summary_df1 = pd.concat([summary_df1, rmse_df])

In [11]:
# Here I'm assuming covariate_list is the list containing the variable names in the order you want
covariate_list_ordered = [
    'Commute Time',
    'Educational Attainment',
    'Employment Status',
    'Gini Index',
    'Housing Tenure',
    'Median Household Income',
    'Population Density',
    'Poverty Status',
    'Share of American Indian/Alaska Native Population',
    'Share of Asian Population',
    'Share of Black Population',
    'Share of Hispanic/Latino Population',
    'Share of Other Race Population',
    'Share of White Population',
    'Without Health Insurance',
    'const',
]

# Separate list for non-standard error metrics
metrics_list = ['N', 'R2', 'Adjusted R2', 'RMSE']

# Last non-empty row name
last_non_empty = ''

# New index
new_index = []

for name in summary_df1.index:
    if name == '':
        new_index.append(last_non_empty + '_se')
    else:
        new_index.append(name)
        last_non_empty = name

# Assign the new index to summary_df1
summary_df1.index = new_index

# Create a new list that alternates between each variable name and its corresponding "_se" version
covariate_list_ordered_extended = [item for sublist in [[var, var + "_se"] for var in covariate_list_ordered] for item in sublist if item in summary_df1.index]

# Add the non-standard error metrics to the list
covariate_list_ordered_extended += metrics_list

# Reindex summary_df1 according to covariate_list_ordered_extended
summary_df_ordered = summary_df1.reindex(covariate_list_ordered_extended)

# Specify the indexes that end with '_se' that you want to replace
indexes_to_replace = [name for name in summary_df_ordered.index if name.endswith('_se')]

# Create a mapping dictionary to replace specified indexes with an empty string
index_replace_dict = {index: '' for index in indexes_to_replace}

# Use the .rename method with the mapping dictionary
summary_df_ordered.rename(index=index_replace_dict, inplace=True)

summary_df_ordered

,First Set,Second Set,Third Set,Fourth Set
Commute Time,,,0.159**,0.169***
,,,(0.065),(0.064)
Educational Attainment,,0.680***,0.516***,0.419***
,,(0.038),(0.048),(0.049)
Employment Status,,,-0.102**,-0.165***
,,,(0.046),(0.046)
Gini Index,,,-0.028,0.008
,,,(0.063),(0.062)
Housing Tenure,,,-0.205***,-0.155***
,,,(0.027),(0.027)
Median Household Income,,-0.007***,0.003,0.003
,,(0.001),(0.002),(0.002)
Population Density,,,,0.186***
,,,,(0.024)
Poverty Status,,,-0.136***,-0.211***
,,,(0.051),(0.051)
Share of American Indian/Alaska Native Population,-1.206,0.236,-0.233,0.010
,(0.842),(0.744),(0.794),(0.777)
Share of Asian Population,157.275,-275.829,-295.882,-493.346
,(397.173),(348.970),(345.283),(338.504)
Share of Black Population,18.283***,15.324***,10.211***,6.356***
,(2.350),(2.107),(2.271),(2.274)
Share of Hispanic/Latino Population,2.651,12.525***,5.681,4.574
,(4.671),(4.137),(4.259),(4.167)
Share of Other Race Population,4116.952,845.279,1568.668,-39.072
,(3110.219),(2732.241),(2671.704),(2620.020)
Share of White Population,-30.757***,-42.272***,-37.940***,-22.355***
,(6.195),(6.035),(6.014),(6.205)
Without Health Insurance,,,0.315,0.375
,,,(0.259),(0.253)
const,0.144***,0.043***,0.106,0.085
,(0.007),(0.009),(0.083),(0.082)
N,1328,1328,1328,1328
R2,0.090,0.301,0.338,0.368
Adjusted R2,0.086,0.297,0.331,0.360
RMSE,0.114102,0.099776,0.096762,0.093809